/* * {
    font-family: "Oxanium", sans-serif;
} */

nav {
    font-family: "Oxanium", sans-serif;
    background-image: linear-gradient(to bottom right, rgb(92, 175, 161), rgba(0,0,0,0.2)); 
}

.navbar {
    min-height: 120px;
}

a {
    color: white;
}

a:hover {
    color: rgb(148, 148, 209);
}

#home-bg-img {
    background-image: url("placeholder.png");
}
#contact-bg-img {
    background-image: url("kontakte.gif");
}

.bg-img {
        height: 800px;
        width: 100%;
        margin-bottom: 25px;
        background-size: cover;
        background-position: center;
}

#contactCard {
    width: 50%;
}

.portfolioImg {
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 5px;
}

#portfolioCard {
    margin-top: 10px;
    padding: 5px;
}